body {
    background-color: red;
    background-image: url("./images/brick-bg.jpg");
}

button {
    display: block;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 20px;
    font-size: 2em;
    margin: 0 auto;
}

button:hover {
    background-color: yellowgreen;
    cursor: pointer;
}

.toggle1 {
    background-image: url("./images/mario.png")
}

.toggle2 {
    background-image: url("./images/luigi.jpg")
}

.toggle1,
.toggle2 {
    height: 500px;
    width: auto;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 25px;
}